html, body {
  padding: 0;
  background: black;
  cursor:crosshair;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased; 
}

p{
  font-size: 14px;
  font-family: 'Michroma', 'Microgramma';
  color: white;
}

canvas {
  display: block;
}


